/* The only reset you’ll ever need */

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}
/* Global */
/* Boxes */
#boxes{
  margin-top:20px;
}

 .box{
  float:left;
  width:30%;
  height: 300px;
  padding: 15px 15px 15px 15px;
  border-style: groove;
  background-color: white;
}

#boxes .box img{
  width: 50px;
  float: left;
}
   .box form{
    float:right;
   }
    /*Buttons*/
    #Button_nope{
    height:38px;
    background: #837f83;
    border:0;
    padding-left:20px;
    padding-right:20px;
   
    }
    #Button_ok{
      height:38px;
      width: 55px;
      background: #1b6dd8;
      border:0;
      padding-left:20px;
      padding-right:20px;
      }


